body {
    font-family: Arial, sans-serif;
    background: #11a7c1;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(9, 9, 9);
    margin-bottom: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    background: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
    width: 32%;
}

h2 {
    color: #3c3caa;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #0aa5c7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background: #088ca5;
}

.event-item {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border-left: 5px solid #0aa5c7;
}

.top-buttons {
    display: flex;
    gap: 10px;
}

.top-buttons button {
    width: 50%;
}

.notes {
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}
